<div class="jumbotron mt-4">
  <center><h1 class="display-4">Implementación de una solución basada en una Aplicación Web II</h1></center>
  <center><p class="lead">Aplicación básica desarrollada con Nodejs, Express, MongoDB y Tecnologías de Javascript.</p></center>
  <hr class="my-4">
  <center><p>Esta app trabaja con dependencias de NPM como body-parser, bcryptjs, connect-flash, express, express-handlebars, express-session, method-override, mongoose, passport y passport-local. Además permite registrarte como usuario en la app, iniciar sesión y acceder a las opciones CRUD para tomar solicitudes de quejas de cliente, registrarlas y editarlas a criterio.</p></center>
</div>
